.footer{
    display: flex;
    margin: 0%;
    padding: 0%;
    background-color: #070707;
    color: orange;
}
.footer-text {
    font-size: 20px;
    text-align: center; 
    margin-left: 0 auto;
}
.footer-text p{
    font-size: 15px;
}
